.desktop{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    background-color:  var(--color);
    align-items: center;
    padding: 0 20%;
}

.mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    height: 92px;
    background-color:  var(--color);
}

.logo-mobile{
    justify-self: center;
}

.mobile .logo-mobile + img{
    margin-left: auto;
    padding: 20px;
}

/* :where(.css-dev-only-do-not-override-1vr7spz).ant-drawer .ant-drawer-title{
    font-size: 2em;
    text-align: center;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-drawer .ant-drawer-header{
    background-color: rgba(0, 0, 0, 0.299);
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-drawer .ant-drawer-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 2em;
}


:where(.css-dev-only-do-not-override-1vr7spz).ant-collapse>.ant-collapse-item >.ant-collapse-header{
    padding: 0;
    font-size: 2em;
    color: white;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
    display: none;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-header-text {
    font-size: 2em;      
    color: white;
    можно попробовать убрать
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-collapse-ghost >.ant-collapse-item >.ant-collapse-content >.ant-collapse-content-box {
    padding-block: 16px;
    font-size: 2em;
    padding: 30px;
    border: 2px solid white;
    border-radius: 20%;
}

/* ----------------dev--------------- */

/*:where(.css-1vr7spz).ant-drawer .ant-drawer-title{
    font-size: 2em;
    text-align: center;
}

:where(.css-1vr7spz).ant-drawer .ant-drawer-header{
    background-color: rgba(0, 0, 0, 0.299);
}

:where(.css-1vr7spz).ant-drawer .ant-drawer-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 2em;
}

:where(.css-1vr7spz).ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon{
    display: none;
} */


.collapse{
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    color: white;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 2;
}

.collapse-act{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--color);
    padding: 10px 0 30px;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:  var(--color);
    gap: 20px;
    padding: 30px 20px;
    border-radius: 20%;
    background-color: white;
    animation: collapse 0.5s;
}

@keyframes collapse{
        0% {
           opacity: 0;
           transform: translateY(-20px);
        }
        100% {
           opacity: 1;
           transform: translateY(0);
        }
     } 




.panel{
    display: flex;
    justify-content: space-around;
    position: absolute;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
    padding: 20px 0;
}


#preview{
    background-size: cover;
}

/* -------IMG----------- */

.img-home{
    background: no-repeat url("../imagin/resto.jpg");
    background-position: center center;
    min-height: 1000px;
}

/* .img-cont{
    background: url('../imagin/resto2_q\ \(3\).jpg') no-repeat;
} */

.img-restoraunt{
    background-color: antiquewhite;
}

/* ------------------------- */

.logo{
    font-weight: bold;
    display: flex;
    width: min-content;
    flex-wrap: wrap;
    justify-content: center;
}

.click::after{
    content: '';
    display: block;
    position: absolute;
    border-radius: 10%;
    color:  var(--color);
    font-size: 11px;
    transform: translate(30px,-50px);
    padding: 5px;
}

.click:hover:after {
    transition-delay: 0.6s;
    background-color: aliceblue;
    color: rgba(0, 0, 0, 0.608);
    content: 'Нажмите';
}













