.menu{
    padding-top: 100px;
    height: 1200px;
    background: url(../imagin/franch.webp);
}

.cards-menu{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.w-back{
  background-color: white;
  transition: all 1s;
}
.card-menu{
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 30vw;
  font-size: 3rem;
  opacity: .6;
  transition: all 1s;
}

.card-menu p{
  display: flex;
  height: 700px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
}

.card-of-wine-Img{
  background: url(../imagin/card_of_wine.webp) no-repeat;
}
.kitchen-Img{
  background: url(../imagin/kitchen2.webp) no-repeat;
}
.banquet-Img{
  background: url(../imagin/banquet.webp) no-repeat;
}

.card-of-wine-Img::after{
  box-shadow: 3px 3px white;  
  padding: 6px;
  background-color: rgb(49,44,32);
  color: rgb(190,123,54);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  content: 'Бар';
}
.kitchen-Img::after{
  box-shadow: 3px 3px white;
  padding: 6px;
  background-color: rgb(49,44,32);
  color: rgb(190,123,54);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  content: 'Кухня';
}
.banquet-Img::after{
  box-shadow: 3px 3px white;  
  padding: 6px;
  background-color: rgb(49,44,32);
  color: rgb(190,123,54);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  content: 'Банкетное меню';
}

.w-back:hover{
  background-color: transparent;
}

.card-menu:hover{
  background-color: transparent;
  z-index: 10;
  opacity: 1;
  scale: 1.05;
}


/* ----------------------kitchen-------------------- */
.kitchen{
  background: url(../imagin/fon_menu2.webp);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  color: white;
}

.head-k{
  text-align: center;
  font-size: 3em;
  color: black;
}

.head-k span{
  color: rgb(234, 184, 91);
}

.panel-kitchen{
  font-size: 1.5em;
  color: black;
  display: flex;
  justify-content: center;
  margin: 50px 15%;
  gap: 40px;
  flex-wrap: wrap;
}

.panel-kitchen-item::after{
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(234, 184, 91);
}

.panel-kitchen-item{
  transition: all 0.5s;
}

.panel-kitchen-item:hover{
  scale: 1.1;
}

.kitchen-menu{
  color: black;
  margin: 0 15% 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kitchen-menu-item{
  display: flex;
  gap: 5px;
  padding: 20px 0;
}

.kitchen-menu-item h1{
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.kitchen-menu-item:nth-child(2n-1){
  padding-right: 20px;
  border-right: 2px solid black;
}

.kitchen-menu-item:nth-child(2n){
  padding-left: 20px;
}

.kitchen-menu-item div:nth-child(2){
  display: flex;
  align-items: center;
  white-space: nowrap;
}



/* ------------SPECIAL----------------------------- */



.special{
  padding: 100px;
  background: url(../imagin/franch.webp);
}

.special-post img{
  width: 60%;
}

.special-post{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.special-post h1{
  width: 80vw;
  text-align: center;
  color: rgb(196, 149, 47);
  font-size: 2em;
  background-color:floralwhite;
  border: 30px ridge white;
  transform: skewX(-15deg);
  top: 142px
}

.special-post p{
  width: 80vw;
  text-align: center;
  background-color:floralwhite;
  border: 30px ridge white;
  transform: skewX(-15deg);
  color: rgb(196, 149, 47);
  font-size: 2em;
}

@media  (max-width: 1224px){

  .special{
    padding: 20px 0 60px;
  }
  .kitchen{
    padding-top: 30px;
  }
  .head-k{
    font-size: 1.5em;
    border-bottom: 2px dashed var(--color);
    padding-bottom: 30px;
  }
  .head-k span{
    color: black;
  }
  .panel-kitchen{
    gap: 20px;
    font-size: 1em;
  }
  .cards-menu{
    flex-direction: column;
    width: 70vw;
  }
  .card-menu p{
    height: 300px;
  }
  .kitchen-menu-item{
    font-size: 0.5em;
    width: 100%;
  }
  .kitchen-menu{
    grid-template-columns: 1fr;
  }
  
  .kitchen-menu-item:nth-child(n){
    padding-left: inherit;
    padding-right: inherit;
    border-right: none;
  }

  .special-post h1, .special-post p{
    font-size: 1.3em;
    border-width: 10px;
  }
  .special-post img{
    width: 80%;
  }
}