.reserved{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    background-color: rgb(250, 196, 114);
    padding: 100px 0;
}

.reserved img{
    width: 100%;
    padding: 20px;
}

.info-r{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-r p{
    font-size: 0.9em;
}

.info-r p span{
    color: red;
}

.submit-r{
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 1s;
}

.submit-r:hover{
    background-color: rgb(159, 0, 0);
}

.submit-r:active{
        background-color: rgb(219, 255, 14);
}

.inputs-r{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.inputs-r input:last-child{
    grid-column: 1/3;
}

.reserved h1{
    font-size: 2em;
    margin-bottom: 40px;
}

.reserved-sucs{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.622);
}

.reserved-sucs span{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 30px;
    border: 5px solid green;
    border-radius: 20%;
}

.reserved-sucs p{
    max-width: 500px;
}

.reserved-load{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.37);
  }
  
  .reserved-load p{
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 30%;
  }

  .reserved-load img{
    width: 140px;
    height: 140px;
    padding: 10px;
    animation: load 1s infinite linear;
  }

  @media (max-width: 900px){
    .reserved{
        display: flex;
    }
  }