.resto{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    color: black;
    background-color:antiquewhite;
}

.start{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 100px 15px 15px;
}
.start h1{
    font-size: 2em;
}

.resto3 img{
    contain: content;
}
.resto3{
    overflow: hidden;
    padding-top: 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 200px 35px 0 ;
}

.reserv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a img{
    width: 40px;
}

.title a img:hover{
    scale: 1.1;
}

.events{
    display: block;
    padding: 30px;
}

.event img{
    width: 50%;
}

.event span{
    margin: 30px 0;
    display: block;
    text-align: center;
}

.event p{
    margin-left: 30px;
    margin-bottom: 30px;
}

.event{
    width: 100%;
    display: flex;
    flex-grow: 1/1;
}
/* useful */
.useful{
    background: url('../imagin/corporativ.jpg') no-repeat;
    background-size: cover;
    padding-top: 150px;
}

.sation{
    background-color: aliceblue;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    margin: 30px;
    padding: 50px;
}
.sation h1{
    font-size: 2em;
}
.sation time{
    color: rgb(10, 107, 10);
    font-size: 1.5em;
    display: block;
    text-align: right;
}
.sation .desc{
    font-size: 1.3em;
    padding: 30px 100px;
}
.sation .desc p{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}











.polit{
    background-color: aliceblue;
    padding-top: 100px;
}
.important{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1.5em;
    padding: 10px;
}
.important div{
    border: 6px double black;
    padding: 25px;
    border-radius: 1em;
    cursor: pointer;
}

.panlOP{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    inset: 0;
}
.panlOP img{
    width: 100px;
    background-color: white;
    border-radius: 50%;
}

.panlOP span{
    padding: 15px;
    font-size: 2em;
    border: 2px;
    background-color: white;
    color: red;
    border: 2px solid red;
}


.tbl{
    width: 100%;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.tbl td, .tbl th{
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    padding: 10px;
    border: 2px solid rgb(85, 85, 191);
}

.fixPanel{
    position: fixed;
    top: 0;
    border: 3px solid rgb(85, 85, 191);
    background-color: aliceblue;
}

.fixPanel div{
    margin: 15px;
    text-align: center;
}

.BackfixPanel{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.393);
    width: 1800px;
    height: 1800px;
}

.fixPanel textarea{
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    height: 500px;
}



@media  (max-width: 800px){
    .start{
    flex-wrap: wrap;
    }
}