.b{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.w{
    color: white;
    text-decoration: none;
}
.textDN{
    text-decoration: none;
}

.font{
    color: aqua;
    font-size: 50px;
    font-family: 'Rationale', sans serif;;
}