/* @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');


:root{
    --color: rgb(196, 117, 47);
}

img{
    background-position: center center;
}

*{
    font-family: 'Ysabeau Infant', sans-serif;
}
.b{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.w{
    color: white;
    text-decoration: none;
}
.c{
    color: var(--color);
    text-decoration: none;
}
.textDN{
    text-decoration: none;
}

.cursor-p{
    cursor: pointer;
}
textarea{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

body{
    background-color: black;
}