.b{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.w{
    color: white;
    text-decoration: none;
}
.textDN{
    text-decoration: none;
}






.autograph{
    display: block;
    color: aqua;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    border: 30px groove blueviolet;
    font-family: 'Rationale';
    background-color: black;
}